@charset 'UTF-8'
@require './includes/**/*'


//-------------------------------------------
// Thumbnail Gallery
//-------------------------------------------

// .thumbnail-gallery
// 	background-color black